# Normalize line endings for all files that Git considers text files.
* text=auto eol=lf

# Only include the addons folder when downloading from the Asset Library.
/**                export-ignore
/addons            !export-ignore
/addons/**         !export-ignore

# ignore Examples by default as it is non-essential to using the addon
/addons/Examples/  export-ignore
